<!DOCTYPE html>
<html>

<head>
  <title>Accueil front-office</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="style/front-office.css" />
  <link rel="icon" href="images/logo.png" type="image/png" />
</head>

<body>
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="front-office.html" class="w3-bar-item w3-button"><img src="images/logo.png" alt="AdventureHub logo" width="40px" />
        AdventureHub</a>
      <!-- Float links to the right. Hide them on small screens -->

      <div class="w3-right w3-hide-small">
        <a href="front-office.html" class="w3-bar-item w3-button">Acceuil</a>
        <a href="boutique-user.php" class="w3-bar-item w3-button">Boutique</a>
      </div>
    </div>
  </div>

  <!-- Header -->
  <header class="w3-display-container w3-content w3-wide" style="max-width: 1500px" id="home">
    <img class="w3-image" src="images/bgphoto.jpg" alt="Architecture" width="1500" height="800" />
    <div class="w3-display-middle w3-margin-top w3-center">
      <h1 class="w3-xxlarge w3-text-white">
        <img src="images/logo white.png" alt="logo white" width="80px" />
        Conseils & actualités
      </h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content w3-padding" style="max-width: 1564px">
    <!-- Project Section -->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
        Top Destinations
      </h3>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Montenegro</div>
          <img src="images/Montenegro.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">France</div>
          <img src="images/France.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">
            Sicily, Italy
          </div>
          <img src="images/Sicily.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">
            Lisbon, Portugal
          </div>
          <img src="images/Lisbon.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
    </div>

    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Scotlande</div>
          <img src="images/Scotland.jpg" alt="House" style="width: 100%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">
            Marrakech, Morocco
          </div>
          <img src="images/Marrakech.jpg" alt="House" style="width: 99%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">
            Berlin, Germany
          </div>
          <img src="images/Berlin.jpg" alt="House" style="width: 98%" />
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">
            Kyoto, Japan
          </div>
          <img src="images/Kyoto.jpg" alt="House" style="width: 99%" />
        </div>
      </div>
    </div>

    <!-- Produit Section-->
    <div class="container">
      <h3>Gestion des produits</h3>
      <a href="../View/addProduit.php" class="button">Ajouter un produit</a>
    </div>
    <div class="container"></div>
      <a href="../View/listProduit.php" class="button">Afficher tous les produits</a>
    </div>

    <!-- About Section -->
    <div class="w3-container w3-padding-32" id="conseil">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
        Conseils
      </h3>
      <p>
        Vous rêvez d'évasion et de découvrir de nouveaux horizons ? Parfait !
        Mais pour que votre voyage se déroule sans accroc, une bonne
        préparation est essentielle. Dans cette section "Conseil", nous vous
        distillerons des astuces pratiques pour organiser vos escapades :
        choix de la destination, formalités administratives, préparation des
        bagages, bons plans pour économiser, et bien plus encore. Alors,
        n'hésitez pas à parcourir nos articles pour transformer vos rêves de
        voyage en réalité inoubliable !
      </p>
    </div>

    <div class="w3-row-padding w3-grayscale">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="images/1.jpg" alt="John" style="width: 100%" />
        <h3>Organisation et préparation</h3>
        <p class="w3-opacity">
          Comment choisir la destination de vos rêves ?
        </p>
        <p>
          Préparer son voyage, c'est aussi s'assurer un voyage serein et
          agréable. Parcourez nos articles pour découvrir des conseils avisés
          sur l'art du bagage léger et comment optimiser vos valises...
        </p>
        <p>
          <button class="w3-button w3-light-grey w3-block">Découvrir</button>
        </p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="images/2.jpg" alt="Jane" style="width: 100%" />
        <h3>Voyager en solo</h3>
        <p class="w3-opacity">
          rucs et astuces pour partir à l'aventure en toute confiance
        </p>
        <p>
          Voyager seul peut être une expérience incroyablement enrichissante.
          C'est l'occasion de se découvrir soi-même, de sortir de sa zone de
          ...
        </p>
        <p>
          <button class="w3-button w3-light-grey w3-block">Découvrir</button>
        </p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="images/3.jpg" alt="Mike" style="width: 100%" />
        <h3>Voyager durable et responsable</h3>
        <p class="w3-opacity">
          comment minimiser votre impact sur l'environement
        </p>
        <p>
          Le tourisme est l'une des industries les plus polluantes au monde.
          Heureusement, il existe de nombreuses façons de voyager de manière
          plus durable et responsable..
        </p>
        <p>
          <button class="w3-button w3-light-grey w3-block">Découvrir</button>
        </p>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="images/4.jpg" alt="Dan" style="width: 100%" />
        <h3>Voyager en famille</h3>
        <p class="w3-opacity">
          trucs et astuces pour des souvenirs inoubliables
        </p>
        <p>
          Voyager en famille est une expérience formidable qui permet de créer
          des souvenirs inoubliables. Cependant, cela peut aussi être un
          challenge
        </p>
        <p>
          <button class="w3-button w3-light-grey w3-block">Découvrir</button>
        </p>
      </div>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">
        Ajouter votre article
      </h3>
      <p>
        Partagez vos connaissances et contribuez à notre section "Conseil" !
        Vous avez des astuces de voyage à partager ? N'hésitez pas à soumettre
        votre article en utilisant le formulaire ci-dessous.
      </p>
      <form action="/action_page.php" target="_blank">
        <input class="w3-input w3-border" type="text" placeholder="Titre" required name="Name" />
        <input class="w3-input w3-section w3-border" type="text" placeholder="Objet" required name="Email" />
        <select id="category" name="category" required style="
              width: 100%; /* Adjusts to the length of the page */
              padding: 10px;
              border: 1px solid #ccc; /* Light grey border */
              border-radius: 5px; /* Rounded corners */
              font-size: 16px; /* Placeholder text size */
              color: #888; /* Placeholder text color */
              background-color: #fff; /* White background */
            ">
          <option value="" disabled selected>
            Sélectionner une catégorie
          </option>
          <option value="conseil">Conseil</option>
          <option value="actualité">Actualité</option>
          <option value="autre">Autre</option>
        </select><br /><br />

        <textarea placeholder="contenu" id="content" name="content" rows="10" cols="50" required style="
              width: 100%; /* Adjusts to the length of the page */
              padding: 10px;
              border: 1px solid #ccc; /* Light grey border */
              border-radius: 5px; /* Rounded corners */
              font-size: 16px; /* Placeholder text size */
              color: #888; /* Placeholder text color */
              background-color: #fff; /* White background */
            "></textarea><br /><br />
        <button class="w3-button w3-black w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> Ajouter
        </button>
        <button class="w3-button w3-black w3-section" type="submit">
          <i class="fa fa-paper-plane"></i> inserer une couverture
        </button>
      </form>
    </div>

    <!-- Image of location/map -->
    <div class="w3-container">
      <img src="images/5.jpg" class="w3-image" style="width: 100%" />
    </div>

    <!-- End page content -->
  </div>

  <!-- Footer -->
  <footer class="w3-center w3-black w3-padding-16">
    <p>AdventureHub - conseils et actualités</p>
  </footer>
  <script src="script/front-office.js"></script>
</body>

</html>