<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update Commande</title>
  </head>

  <body>
    <button><a href="list.php">Back to List</a></button>
    <hr />

    <div id="error"></div>
    <form action="update2.php" method="POST">
      <label for="id_to_find">Enter Commande ID to Update:</label>
      <input type="number" name="id_to_find" id="id_to_find" required />
      <button type="submit">Find Commande</button>
    </form>
  </body>
</html>
